yii/assets/*
!yii/assets/.gitignore
yii/protected/runtime/*
!yii/protected/runtime/.gitignore
yii/protected/data/*.db
yii/themes/classic/views/
yii/db/liquibase.log
/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.vagrant
